<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
<h1>Cars</h1>
<table border="1">
    <thead>
    <tr th:each="car: ${cars}">
        <th
            th:text="${car.model}"> model
        </th>
        <th
            th:text="${car.year}"> year
        </th>
        <th
            th:text="${car.color}"> color
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>